{% extends 'base.html' %}

{% block body %}
<form>
    <h2>Log in</h2>
    <label for="email">Email</label>
    <input type="email" name="email" required />

    <label for="password">Password</label>
    <input type="password" name="password" required />
    <div class="error"></div>
    <button>Log in</button>
</form>
{% endblock body %}

{% block scripts %}
<script>
    const form = document.querySelector('form');

    form.addEventListener('submit', async (e) => {
        e.preventDefault();

        // get values
        const email = form.email.value;
        const password = form.password.value;

        const err = document.querySelector('.error');

        err.textContent = '';

        try {

            const res = await fetch('{{ url_for("login_post") }}', {
                method: 'POST',
                body: JSON.stringify({ email, password }),
                headers: { 'Content-Type': 'application/json' }
            });

            const data = await res.json();
            if (data.error) {
                err.textContent = data.error;
            }
            if (data.user) {
                location.assign('/');
            }

        } catch (err) {

        }
    })
</script>
{% endblock scripts %}